<div class="card">
  <div>
    <img src="images/renovation.webp" alt="" />
  </div>
  <div>
    <h2>Aménagement d'intérieur</h2>
  </div>
  <div>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum enim
      reprehenderit quibusdam unde impedit beatae architecto maiores placeat
      amet quaerat optio tempore quam animi reiciendis odit fugit, incidunt ad
      blanditiis, saepe quidem eveniet esse labore? Aspernatur, aut suscipit,
      possimus enim quibusdam libero sit ut impedit accusamus delectus minus
      totam mollitia?
    </p>
  </div>
</div>
